<a href="https://colab.research.google.com/github/yongeunhye/Eunhye-yong/blob/master/6_file_access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#집합

{ } 사용

• 세트= {값1, 값2, 값3}

• 요소는중복될수없음

• 요소의 순서가 정해져 있지 않음

• 합집합, 교집합, 차집합 등의 연산 가능

In [4]:
a={1,2,3,4}
b={3,4,5,6,}
a|b

{1, 2, 3, 4, 5, 6}

In [2]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

In [5]:
a&b

{3, 4}

In [6]:
set.intersection(a,b)

{3, 4}

In [7]:
a-b

{1, 2}

In [8]:
set.difference(a,b)

{1, 2}

In [15]:
a={1,2,3,4}
a.add(5) #• set에 요소 추가

In [10]:
a.remove(3) #set에 특정 요소를 삭제하고, 요소가 없으면 그냥 넘어감

In [11]:
a.discard(2) #set에 임의의 요소 삭제하고, 해당 요소 반환

In [12]:
a.pop()#세트의모든요소삭제

1

In [13]:
a.clear()

In [14]:
a

set()

In [23]:
numbers=(1,2,3,4,5,6)
print("::".join(numbers)) #조인은 문자열에만 쓸 수 있는 메서드

TypeError: ignored

In [24]:
print(list(map(str,numbers)))

['1', '2', '3', '4', '5', '6']

In [27]:
numbers=list(range(1,10+1))
print("#홀수만 추출하기")
print(list(filter(lambda x : x % 2!=0, numbers)))

#홀수만 추출하기
[1, 3, 5, 7, 9]

In [28]:
print(list(filter(lambda x : 3<= x <7, numbers)))

[3, 4, 5, 6]

In [29]:
print(list(filter(lambda x : x**2<= 50, numbers)))

[1, 2, 3, 4, 5, 6, 7]

# 예외처리

- 조건문 예외처리
- try 예외처리 
- ㄴ finally

In [33]:
number_input_a=int(input("정수입력> "))

print("원의 반지름:", number_input_a)
print("원의 둘레:", 2 * 3.14 * number_input_a)
print("원의 반지름:", 3.14* number_input_a * number_input_a)

정수입력> df

ValueError: ignored

In [35]:
user_input_a=input("정수입력>")

if user_input_a.isdigit():
  #숫자로 변환
  number_input_a=int(user_input_a)
  #출력
  print("원의 반지름:", number_input_a)
  print("원의 둘레:", 2 * 3.14 * number_input_a)
  print("원의 반지름:", 3.14* number_input_a * number_input_a)
else:
  print("정수입력 ㄴㄴ")

정수입력>ㅏ
정수입력 ㄴㄴ

In [38]:
try:
  number_input_a=int(input("정수입력> "))
except: 
  print("정수입력 ㄴㄴ")

else:
  print("원의 반지름:", number_input_a)
  print("원의 둘레:", 2 * 3.14 * number_input_a)
  print("원의 반지름:", 3.14* number_input_a * number_input_a)

정수입력> d
정수입력 ㄴㄴ

In [39]:
try:
  number_input_a=int(input("정수입력> "))
  print("원의 반지름:", number_input_a)
  print("원의 둘레:", 2 * 3.14 * number_input_a)
  print("원의 반지름:", 3.14* number_input_a * number_input_a)
except: 
  print("정수입력해주세요")
else:

  print("에외가 발생하지 않았씁니다.")

finally:
  print("에휴")

정수입력> ㅏ
정수입력해주세요
에휴

In [53]:
try: 
  file= open("info.txt", "w")
  예외.발생해라()

except Exception as e: 
  print(e)

file.close()

print("#파일 확인")
print("#file.closed:", file.closed)

name '예외' is not defined
#파일 확인
#file.closed: True

In [54]:
def write_text_file(filename, text):
  try:
    file=open(filename,"w")
    return 
    file.write(text)
  except Exception as e:
    print(e)
  finally:
    file.close()

  write_text_file("text.txt", "안녕하세요")

In [56]:
print("프로그램 시작")

while True:
  try: 
    print("try 구문이 실행되었습니다")
    break
    print("트라이 구문의 브레이크 키워드 뒤입니다.")
  except:
    print("except")
  finally:
    print("finally")
  print("while final")
print("프로그램 종료")

프로그램 시작
try 구문이 실행되었습니다
finally
프로그램 종료

In [57]:
numbers=[52, 273, 3, 21, 346, 90, 10, 228]
numbers.index(52)

0

In [59]:
numbers.index(10)

6

In [60]:
# numbers.index(10000000)

ValueError: ignored

In [ ]:
# numbers=[52, 273, 3, 21, 346, 90, 10, 228]
# print("#(1) 요소내부에 이쓴ㄴ 값찾기 ")
# print("-{}는 {}의 위치에 있습니다.".format(52, numbers.index(52)))



# print("#(2)요소내부에 없는 값 찾기")
# number=10000

In [61]:
try:
  number_input_b=int(input("정수입력>"))
 
  #출력
  print("원의 반지름:", number_input_b)
  print("원의 둘레:", 2 * 3.14 * number_input_b)
  print("원의 반지름:", 3.14* number_input_a * number_input_b)

except Exception as exception:
  print("type(exception):", type(exception))
  print("exception:", exception)

정수입력>df
type(exception): <class 'ValueError'>
exception: invalid literal for int() with base 10: 'df'

In [63]:
list_number=[1,2,3,4,]

try:
  number_input=int(input("정수입력:"))
  print("{}, {}".format(number_input, list_number[number_input]))
except Exception as exception:
  print(type(exception))
  print(exception)

정수입력:fdf
<class 'ValueError'>
invalid literal for int() with base 10: 'fdf'

In [66]:
list_nmber=[1,2,3,4]
try:
  nmber_input=int(input("정수입력"))
  print("{},{}".format(nmber_input, list_nmber[nmber_input]))
except ValueError:
  print("정수입력해주세여")
except IndexError:
  print("리스트 인덱스 벗어났으어")

정수입력9
리스트 인덱스 벗어났으어

In [67]:
list_nmber=[1,2,3,4]
try:
  nmber_input=int(input("정수입력"))
  print("{},{}".format(nmber_input, list_nmber[nmber_input]))
except ValueError as exception:
  print("정수입력해주세여")
  print(exception)
except IndexError as exception:
  print("리스트 인덱스 벗어났으어")
  print(exception)

정수입력ld
정수입력해주세여
invalid literal for int() with base 10: 'ld'

In [73]:
list_nmber=[1,2,3,4]
try:
  nmber_input=int(input("정수입력"))
  print("{},{}".format(nmber_input, list_nmber[nmber_input]))
  dPdhㅇㅇㄹㄴㅁㅎㅎㅎㄴㅇㅎㄴl.발생해주세요()
except ValueError as exception:
  print("정수입력해주세여")
  print(exception)
except IndexError as exception:
  print("리스트 인덱스 벗어났으어")
  print(exception)

정수입력1
1,2

NameError: ignored

In [75]:
list_nmber=[1,2,3,4]
try:
  nmber_input=int(input("정수입력"))
  print("{},{}".format(nmber_input, list_nmber[nmber_input]))
  예외.발생해주세요()
except ValueError as exception:
  print("정수입력해주세여")
  print(exception)
except IndexError as exception:
  print("리스트 인덱스 벗어났으어")
  print(exception)

except Exception as exception:
  print("예상못한오류발생")
  print(type(exception), exception)

정수입력4
리스트 인덱스 벗어났으어
list index out of range

  [링크 텍스트](https://]
  ㄷㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㄴ8888888888888888888886)